<article class="tile tile--campaign">
  <a class="wrapper" href="#">
    <div class="tile--meta">
      <h1 class="__title">{{ title }}</h1>
      {{#tagline}}<p class="__tagline">{{ tagline }}</p>{{/tagline}}
    </div>
    {{#src}}<img alt="{{ title }}" src="{{ src }}" />{{/src}}
  </a>
</article>
